*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: 	#87CEEB;

}
.heading{
  text-align: center;
  padding: 20px;
  color: white;
  background-color:#227da2;
  font-size: 30px;
}
.navLinks{
  text-align: center;
  padding: 20px;
  color: white;
  background-color:#abc9d5;
  font-size: 15px;
}
.navLinks>a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  margin: 20px;
}
.navLinks>a:hover{
  color: black;
}
.text-form{
  border: 3px solid white;
  border-radius: 5px;
  width: 70%;
  min-height: 80vh;
  margin: 100px auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: 	#87CEEB;
}
.text-form form{
  display: flex;
  flex-direction: column;
}

input,textarea{
  padding: 20px 30px;
  margin: 10px;
  background-color: 	#87CEEB;
  border: 3px solid white;
  border-radius: 5px;
  color: black;
  font-size: 20px;
  outline: none;
}
button{
  color: black;
  background-color: #87CEEB;
  border: 1px solid black;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  padding: 15px 30px;
  margin: 10px;
  transition: all 0.2s;
}
.subBtn:hover{
  background-color: 	#FFF5EE;
  color: black;
  border: 1px solid black;
}
.task{
  display: flex;
  margin: 10px 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: 	#FFF5EE;
}
.task > div{
  width: 100%;
  padding: 10px 5px;
  font-size: 20px;
}
.task span{
  color: rgba(0, 0, 0, 0.601);
}
.task>button{
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task>button:hover{
  background-color: crimson;
  cursor: pointer;
}
.contact{
  width: 100%;
  height: 100vh;
  background-color: #227da2;
}
.about{
  width: 100%;
  height: 100vh;
  background-color: burlywood;
}
.user{
  width: 100%;
  height: 100vh;
  background-color: burlywood;
}
footer{
  background-color: black;
  color: white;
  height: 100px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:480px)  {
    .heading{
      padding: 15px;
      font-size: 18px;
    }
    .text-form{
      width: 95%;
      margin: 80px auto;
      padding: 10px;
    }
    input,textarea{
      padding: 10px 20px;
      margin: 6px;
    }
    button{
      padding: 9px 15px;
      font-size: 15px;
    }
    .task>button{
      font-size: 12px;
      padding: 6px 12px;
    }
    .task > div{
      padding: 3px;
      font-size: 15px;
    }
}